tests/Functional/Bundle/TestBundle/Resources/response_schema/200-simple.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">

    <xs:element name="testObjects" type="testObjects"/>

    <xs:complexType name="testObjects">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="testObject" type="object"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="object">
        <xs:sequence>
            <xs:element minOccurs="1" name="string-property" type="xs:string"/>
            <xs:element minOccurs="1" name="int-property" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
