tests/Functional/Bundle/TestBundle/Resources/response_schema/400-simple.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">

    <xs:element name="testObject" type="object"/>

    <xs:complexType name="object">
        <xs:sequence>
            <xs:element minOccurs="1" name="error" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
